html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, "DejaVu Sans", "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 18pt;
  color: var(--text-color);
  background: var(--background-color);
}

body {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, select {
  font: inherit;
  padding: 1em;
  display: block;
  width: 100%;
  border: 1px solid #eee;
}

input[readonly], select[readonly] {
  background: #eee;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

code, pre {
  font-family: SourceCodePro, Inconsolata, Consolas, Monaco, Ubuntu Mono, monospace;
}

a {
  color: #009;
  text-decoration: dotted underline;
}

a:hover {
  text-decoration-style: solid;
}

a:active {
  position: relative;
  top: 1px;
}

::selection {
  color: #fff;
  background: #000;
}

h1 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 2rem;
  line-height: 1em;
}

header {
  margin-bottom: 2rem;
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
pre {
  line-height: 1.75em;
  margin-bottom: 1rem;
}

h2, h3, h4, h5, h6 {
  margin: 2rem 0 0.5rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

h3 {
  font-weight: 900;
}

h4 {
  text-decoration: underline;
}

h5 {
  font-size: 80%;
}

h6 {
  font-size: 80%;
  font-style: italic;
}

ul, ol {
  padding-left: 1em;
  padding-right: 1em;
}

ul > li {
  list-style-type: square;
}

ol > li {
  list-style-type: decimal;
}

pre {
  padding: 0.5rem;
  line-height: 1.2em;
  background: #eee;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

