body {
  margin: 0 auto;
  width: 95%;
  max-width: 800px;
  font-family: Lato, "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 16pt;
}

code {
  font-family: Inconsolata, Consolas, Monaco, monospace;
}

pre {
  color: #fff;
  background-color: #161721;
  white-space: pre-wrap;
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word;
  word-break: break-word;
}

h1, h2 {
  font-weight: 100;
}
